@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define color variables for easy maintenance and readability */
:root {
  --foreground-rgb: 255, 255, 255; /* White */
  --background-rgb: 0, 0, 0; /* Black */
}

body {
  /* Apply the foreground and background colors using CSS custom properties */
  color: rgb(var(--foreground-rgb)); /* Text color set to white */
  background-color: rgb(var(--background-rgb)); /* Background color set to black */
}

/* If you have utility classes you wish to add, you can do so here */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
